$gray-1: #777;
$gray-2: #999;
$gray-3: #ddd;
$gray-4: #fff;

@mixin setting-button {
  width: 50px;
  min-width: 50px;
  margin: 3px;
  background-color: $gray-3;
  border: solid 2px $gray-3;
  border-radius: 8px;
  color: $gray-2;
  font-size: 14px;
  padding: 3px 7px;

  &.selected {
    color: $gray-4;
    background-color: $gray-2;
    border-color: $gray-2;
  }
}

html, body {
  margin: 0;
  height: 100%;
  background-color: $gray-4;
  font-size: 10px;
  color: $gray-1;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

nav {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 5px;
  font-size: 1.3rem;

  ul {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      margin-right: 0.3em;
      margin-left: 0.3em;

      & + li {
        margin-left: 1em;
      }
    }
  }
}

#exercise-page {
  width: 100%;
  height: 100%;
}

#help-page {
  padding: 2rem;
  font-size: 14px;

  p {
    line-height: 2.5em;
  }

  button {
    @include setting-button;
    display: inline-block;
    width: auto;
  }
}

.page {

  &:not(.active) {
    display: none;
  }

  .close-link {
    float: right;
    color: $gray-2;
  }
}

#section-number-and-manual-trigger {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
}

#section-number,
#section-empty-numbers-pool-info {
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $gray-1;
}

#section-number {
  font-size: 30vw;
}

#section-empty-numbers-pool-info {
  font-size: 2em;
}

#section-manual-prompt-trigger {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $gray-3;
  text-align: center;

  &:not(.active) {
    display: none;
  }

  button {
    width: 80%;
    margin: 3px;
    background-color: $gray-3;
    border: solid 2px $gray-3;
    border-radius: 16px;
    color: $gray-2;
    font-size: 3vw;
    padding: 20px;

    &:active {
      color: $gray-4;
      background-color: $gray-2;
      border-color: $gray-2;
    }
  }
}

#section-settings {
  float: right;
}

#section-prompt-trigger-settings,
#section-number-settings {
  width: 168px;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;

  section {
    align-self: flex-end;
  }

  button {
    @include setting-button;
  }

  button[data-prompt-trigger-type=manual] {
    width: 162px;
  }
}

button {
  display: block;
  clear: none;
  cursor: pointer;
}

button[data-tooltip] {

  &:hover {
    position: relative;

    &:after {
      content: attr(data-tooltip);
      padding: 3px;
      position: absolute;
      right: 0;
      top: -2px;
      white-space: nowrap;
      z-index: 100;
      background-color: inherit;
      color: inherit;
      border: inherit;
      border-radius: inherit;
    }
  }
}

.hidden {
  display: none !important;
}
