html, body {
  margin: 0;
  height: 100%;
  background-color: #fff;
  font-size: 10px;
}

#section-number {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30vw;
  color: #555;
}

#section-settings {
  float: right;
}

#section-prompt-interval-settings {
  width: 220px;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;

  button {
    display: block;
    clear: none;
    width: 100px;
    margin: 5px;
    background-color: #fff;
    border: solid 2px #ccc;
    border-radius: 8px;
    color: #aaa;
    font-size: 15px;
    padding: 5px;
    cursor: pointer;

    &.selected {
      color: #fff;
      background-color: #aaa;
      border-color: #aaa;
    }
  }
}
