$gray-1: #777;
$gray-2: #999;
$gray-3: #ddd;
$gray-4: #fff;

html, body {
  margin: 0;
  height: 100%;
  background-color: $gray-4;
  font-size: 10px;
}

#section-number {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30vw;
  color: $gray-1;
}

#section-settings {
  float: right;
}

#section-prompt-interval-settings,
#section-number-settings {
  width: 168px;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;

  section {
    align-self: flex-end;
  }

  button {
    display: block;
    clear: none;
    width: 50px;
    margin: 3px;
    background-color: $gray-3;
    border: solid 2px $gray-3;
    border-radius: 8px;
    color: $gray-2;
    font-size: 14px;
    padding: 3px;
    cursor: pointer;

    &.selected {
      color: $gray-4;
      background-color: $gray-2;
      border-color: $gray-2;
    }
  }
}
